In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
flights = pd.read_csv('nycflights.csv', dtype = {'dep_time' : object, 
                                                 'dep_delay': object, 
                                                 'arr_time' : object, 
                                                 'arr_delay': object, 
                                                 'air_time' : object})
flights['date'] = pd.to_datetime({'year':flights.year, 'month':flights.month, 'day':flights.day})
def convert_time(column_name):
    the_min = flights[column_name][ flights[column_name].notnull() ].astype(str).str[-2:  ]
    the_hr  = flights[column_name][ flights[column_name].notnull() ].astype(str).str[  :-2]
    date_time = pd.to_datetime({'year':flights.year, 'month':flights.month, 'day':flights.day, 
                                'hour': the_hr, 'minute': the_min})
    # the magic of indexes allow us to combine flights.year which has all the rows
    # and the_hr which only exists for rows where dep_time is not NaN
    return date_time
dep_date_time       = convert_time('dep_time')
sched_dep_date_time = convert_time('sched_dep_time')
arr_date_time       = convert_time('arr_time')
sched_arr_date_time = convert_time('sched_arr_time')

datetimes = pd.concat({'dep_date_time': dep_date_time,
           'sched_dep_date_time': sched_dep_date_time, 
           'arr_date_time':arr_date_time, 
           'sched_arr_date_time':sched_arr_date_time}, axis = 1)
flights = flights.join(datetimes)  # we use the .join() function

### A Few Exercises

In [3]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 24 columns):
year                   336776 non-null int64
month                  336776 non-null int64
day                    336776 non-null int64
dep_time               328521 non-null object
sched_dep_time         336776 non-null int64
dep_delay              328521 non-null object
arr_time               328063 non-null object
sched_arr_time         336776 non-null int64
arr_delay              327346 non-null object
carrier                336776 non-null object
flight                 336776 non-null int64
tailnum                334264 non-null object
origin                 336776 non-null object
dest                   336776 non-null object
air_time               327346 non-null object
distance               336776 non-null int64
hour                   336776 non-null int64
minute                 336776 non-null int64
time_hour              336776 non-null object
date                   336776 non-null datetime64[ns]
arr_date_time          321157 non-null datetime64[ns]
dep_date_time          327640 non-null datetime64[ns]
sched_arr_date_time    332590 non-null datetime64[ns]
sched_dep_date_time    336776 non-null datetime64[ns]
dtypes: datetime64[ns](5), int64(9), object(10)
memory usage: 61.7+ MB

In [4]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,air_time,distance,hour,minute,time_hour,date,arr_date_time,dep_date_time,sched_arr_date_time,sched_dep_date_time
0,2013,1,1,517,515,2,830,819,11,UA,...,227,1400,5,15,1/1/2013 5:00,2013-01-01,2013-01-01 08:30:00,2013-01-01 05:17:00,2013-01-01 08:19:00,2013-01-01 05:15:00
1,2013,1,1,533,529,4,850,830,20,UA,...,227,1416,5,29,1/1/2013 5:00,2013-01-01,2013-01-01 08:50:00,2013-01-01 05:33:00,2013-01-01 08:30:00,2013-01-01 05:29:00
2,2013,1,1,542,540,2,923,850,33,AA,...,160,1089,5,40,1/1/2013 5:00,2013-01-01,2013-01-01 09:23:00,2013-01-01 05:42:00,2013-01-01 08:50:00,2013-01-01 05:40:00
3,2013,1,1,544,545,-1,1004,1022,-18,B6,...,183,1576,5,45,1/1/2013 5:00,2013-01-01,2013-01-01 10:04:00,2013-01-01 05:44:00,2013-01-01 10:22:00,2013-01-01 05:45:00
4,2013,1,1,554,600,-6,812,837,-25,DL,...,116,762,6,0,1/1/2013 6:00,2013-01-01,2013-01-01 08:12:00,2013-01-01 05:54:00,2013-01-01 08:37:00,2013-01-01 06:00:00

Find all flights that
- Had an arrival delay of two or more hours

In [5]:
flights.loc[flights.arr_delay.astype(float) > 120].shape

(10034, 24)

In [6]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,air_time,distance,hour,minute,time_hour,date,arr_date_time,dep_date_time,sched_arr_date_time,sched_dep_date_time
0,2013,1,1,517,515,2,830,819,11,UA,...,227,1400,5,15,1/1/2013 5:00,2013-01-01,2013-01-01 08:30:00,2013-01-01 05:17:00,2013-01-01 08:19:00,2013-01-01 05:15:00
1,2013,1,1,533,529,4,850,830,20,UA,...,227,1416,5,29,1/1/2013 5:00,2013-01-01,2013-01-01 08:50:00,2013-01-01 05:33:00,2013-01-01 08:30:00,2013-01-01 05:29:00
2,2013,1,1,542,540,2,923,850,33,AA,...,160,1089,5,40,1/1/2013 5:00,2013-01-01,2013-01-01 09:23:00,2013-01-01 05:42:00,2013-01-01 08:50:00,2013-01-01 05:40:00
3,2013,1,1,544,545,-1,1004,1022,-18,B6,...,183,1576,5,45,1/1/2013 5:00,2013-01-01,2013-01-01 10:04:00,2013-01-01 05:44:00,2013-01-01 10:22:00,2013-01-01 05:45:00
4,2013,1,1,554,600,-6,812,837,-25,DL,...,116,762,6,0,1/1/2013 6:00,2013-01-01,2013-01-01 08:12:00,2013-01-01 05:54:00,2013-01-01 08:37:00,2013-01-01 06:00:00

In [7]:
(flights.arr_date_time - flights.sched_arr_date_time) > pd.Timedelta(120, 'm')

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
336746    False
336747    False
336748    False
336749    False
336750    False
336751    False
336752    False
336753    False
336754    False
336755    False
336756    False
336757     True
336758    False
336759    False
336760    False
336761    False
336762    False
336763    False
336764    False
336765    False
336766    False
336767    False
336768    False
336769    False
336770    False
336771    False
336772    False
336773    False
336774    False
336775    False
Length: 336776, dtype: bool

In [8]:
# must use timedelta for comparisons between time amounts 
flights.loc[ (flights.arr_date_time - flights.sched_arr_date_time) > pd.Timedelta(120, 'm') ].shape

(7474, 24)

### There is significant mismatch between these two results.

Let's explore what could be wrong.

In [9]:
a = flights.loc[flights.arr_delay.astype(float) > 120].index

In [ ]:
b = flights.loc[ (flights.arr_date_time - flights.sched_arr_date_time) > pd.Timedelta(120, 'm') ].index

In [ ]:
a.difference(b)

In [ ]:
flights.loc[151]

the flight departed the next day, and the full date-time column doesn't reflect this

In [ ]:
flights.loc[10455,]

I also found this flight, where the csv file says the departure time is '10'.

It should have read 00:10, as in 12:10AM, but maybe limitations of the csv export dropped the leading 0s.

In [ ]:
a = np.array(['a','','c','d'])
a

In [ ]:
np.where(a == '', '100', a)

In [ ]:
flights = pd.read_csv('nycflights.csv', dtype = {'dep_time' : object,  
                                                 'arr_time' : object, 
                                                 'air_time' : object})
flights['date'] = pd.to_datetime({'year':flights.year, 'month':flights.month, 'day':flights.day})

def convert_time(column_name):
    the_min = flights[column_name][ flights[column_name].notnull() ].astype(str).str[-2:  ]
    the_hr  = flights[column_name][ flights[column_name].notnull() ].astype(str).str[  :-2]
    
    # this following line says that if the hr extracted from strings is empty, '', 
    # then replace it with 00, otherwise, use the hr that appears, and preserve the index
    the_hr  = pd.Series( np.where(the_hr == '', '00',the_hr) , index = the_hr.index)
    
    date_time = pd.to_datetime({'year':flights.year, 'month':flights.month, 'day':flights.day, 
                                'hour': the_hr, 'minute': the_min})
    return date_time

sched_dep_date_time = convert_time('sched_dep_time')
sched_arr_date_time = convert_time('sched_arr_time')

dep_date_time       = sched_dep_date_time + pd.to_timedelta(flights.dep_delay, 'm')
arr_date_time       = sched_arr_date_time + pd.to_timedelta(flights.arr_delay, 'm')

# clean up
# if a flight lands on the following day, we need to update that as well
# this shows that if the arr_date is before the dep_date, add 24 hours to the arrival times
sched_arr_date_time = pd.Series( np.where(sched_arr_date_time < sched_dep_date_time, 
                                          sched_arr_date_time + pd.Timedelta(24, 'h'), 
                                          sched_arr_date_time
                                         ) , index = sched_arr_date_time.index)
arr_date_time = pd.Series( np.where(arr_date_time < dep_date_time,
                                    arr_date_time + pd.Timedelta(24, 'h'),
                                    arr_date_time) , index = arr_date_time.index)

datetimes = pd.concat({'dep_date_time': dep_date_time,
           'sched_dep_date_time': sched_dep_date_time, 
           'arr_date_time':arr_date_time, 
           'sched_arr_date_time':sched_arr_date_time}, axis = 1)
flights = flights.join(datetimes)  # we use the .join() function
flights = flights.drop(['year','month','day'], axis = 1)
airlines = pd.read_csv('airlines.csv', index_col = 'carrier')

In [ ]:
flights.loc[151,]

In [ ]:
flights.loc[10455,]

Note to self: maybe we need to check if it is possible for a flight to be delayed over 24 hours (or maybe they all just get cancelled)

In [ ]:
flights.loc[flights.arr_delay.astype(float) > 120].shape

In [ ]:
flights.loc[ (flights.arr_date_time - flights.sched_arr_date_time) > pd.Timedelta(120, 'm') ].shape

Now our results match!

Find all flights that:
- Flew to Houston (IAH or HOU)
- Were operated by United, American, or Delta
- Departed in summer (July, August, and September)
- Arrived more than two hours late, but didnâ€™t leave late
- Were delayed by at least an hour, but made up over 30 minutes in flight
- Departed between midnight and 6am (inclusive)

In [ ]:
# Flew to Houston (IAH or HOU)
flights.loc[ flights.dest.isin(['IAH','HOU']) ].shape

In [ ]:
# Were operated by United, American, or Delta
flights.loc[ flights.carrier.isin(['UA','AA', 'DL']) ].shape

In [ ]:
# Departed in summer (July, August, and September)
flights.loc[ flights.dep_date_time.dt.month.isin([7,8,9]) ].shape

In [ ]:
# Arrived more than two hours late, but didnâ€™t leave late
# use & for making element-wise boolean comparisons
flights.loc[ (flights.arr_delay > 120) & (flights.dep_delay <= 0) ].head()

In [ ]:
flights.loc[ (flights.arr_delay > 120) & (flights.dep_delay <= 0) ].shape

In [ ]:
# Were delayed by at least an hour, but made up over 30 minutes in flight

flights.loc[ (flights.dep_delay >= 60) & (flights.arr_delay <= flights.dep_delay - 30) ].head()

In [ ]:
flights.loc[ (flights.dep_delay >= 60) & (flights.arr_delay <= flights.dep_delay - 30) ].shape

In [ ]:
# Departed between midnight and 5:59am

flights.loc[  flights.dep_date_time.dt.hour.between(0,5)  ].shape

### Which day of the week is busiest?

In [ ]:
w = flights.groupby(dep_date_time.dt.weekday).date.count()  # monday = 0, sunday = 6
# produces a series
w

In [ ]:
d = pd.DataFrame(w)
# rename the index of a dataframe with a dictionary
d.rename({0:'Mon', 1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}, axis = 'index', inplace = True)
d

In [ ]:
d.plot(kind = 'bar', color = 'dodgerblue')
plt.show()

In [ ]:
flights.groupby(dep_date_time.dt.weekday_name).date.count()
# by default it sorts alphabetically

In [ ]:
flights.groupby(dep_date_time.dt.day_name('spanish')).date.count()  # I later learned of day_name()
# you need to specify the language to use

### Which carriers fly out of which airports?

In [ ]:
# multi-index
flights.groupby(['carrier','origin']).flight.count()

In [ ]:
flights.groupby(['carrier','origin']).flight.count().index

You can make a 'pivot table' by unstacking the multi-index

In [ ]:
flights.groupby(['carrier','origin']).flight.count().unstack()

You can also make a pivot table using the pivot_table method.

In [ ]:
flights.pivot_table('flight',index = 'carrier', columns = 'origin', aggfunc = 'count')

In [ ]:
flights.pivot_table('flight',index = 'carrier', 
                    columns = 'origin', aggfunc = 'count').plot.bar(stacked = True)

In [ ]:
flights.pivot_table('flight',index = 'carrier', 
                    columns = 'origin', aggfunc = 'count').plot.bar()

You can see the top 4 carriers: B6, DL, EV, UA

It appears:
- B6 flies out of JFK the most.
- DL uses JFK and LGA equally
- EV uses EWR heavily
- UA uses EWR heavily as well

I'm curious to see for each of the airports, if one of the carriers will have more 'clout' because it is a bigger user of the airport.

In [ ]:
ewr = flights.loc[flights.origin == 'EWR'].groupby('carrier').flight.count().sort_values(
    ascending = False)
ewr

 I was curious if the proportion of UA and EV flights that are delayed is less than some of the smaller carrier.... maybe these big airlines get higher priority??

### Let's look at flights to Los Angeles

In [ ]:
la = flights.loc[flights.dest.isin(['LAX','BUR','ONT','LGB'])]

In [ ]:
la.dest.unique()

In [ ]:
la.dest.value_counts()

In [ ]:
la.carrier.value_counts()

In [ ]:
la.groupby('dest').carrier.value_counts()

B6 (JetBlue) is the only carrier that goes to Burbank or Long Beach. There are no flights from Ontario to New York.

In [ ]:
la.groupby('dest').origin.value_counts()

No direct flights from LaGuardia to Los Angeles. If you want to fly direct to Burbank or Long Beach, you must depart from JFK.

In [ ]:
la.dep_delay[la.dep_delay.notnull()].astype(int).groupby(la.dest).mean()